@import 'tailwindcss';

@source './js/**/*.svelte';
@source './js/**/*.ts';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Brand */
    --color-brand-50: #eef2ff;
    --color-brand-100: #e0e7ff;
    --color-brand-500: #6366f1;
    --color-brand-600: #4f46e5;
    --color-brand-700: #4338ca;
}

html,
body {
    @apply h-full bg-slate-50 text-slate-900 antialiased;
}

#app {
    @apply h-full;
}
